apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: http://github.com/nflenz/argocd.git
    targetRevision: main
    path: /
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

